In [20]:
import numpy as np
import pandas as pd

In [21]:
match = pd.read_csv("match.csv")
match.head()

,country_id,league_id,season,stage,date,match_id,home_team_id,away_team_id,home_team_goal,away_team_goal,...,SJA,VCH,VCD,VCA,GBH,GBD,GBA,BSH,BSD,BSA
0,1,1,2008/2009,1,8/17/08 0:00,492473,9987,9993,1,1,...,4.00,1.65,3.40,4.50,1.78,3.25,4.00,1.73,3.40,4.20
1,1,1,2008/2009,1,8/16/08 0:00,492474,10000,9994,0,0,...,3.80,2.00,3.25,3.25,1.85,3.25,3.75,1.91,3.25,3.60
2,1,1,2008/2009,1,8/16/08 0:00,492475,9984,8635,0,3,...,2.50,2.35,3.25,2.65,2.50,3.20,2.50,2.30,3.20,2.75
3,1,1,2008/2009,1,8/17/08 0:00,492476,9991,9998,5,0,...,7.50,1.45,3.75,6.50,1.50,3.75,5.50,1.44,3.75,6.50
4,1,1,2008/2009,1,8/16/08 0:00,492477,7947,9985,1,3,...,1.73,4.50,3.40,1.65,4.50,3.50,1.65,4.75,3.30,1.67

In [22]:
match = match.drop(['home_player_1', 'home_player_2', 'home_player_3', 'home_player_4', 'home_player_5', 'home_player_6', 'home_player_7', 'home_player_8', 'home_player_9', 'home_player_10', 'home_player_11'], axis=1)
match = match.drop(['away_player_1', 'away_player_2', 'away_player_3', 'away_player_4', 'away_player_5', 'away_player_6', 'away_player_7', 'away_player_8', 'away_player_9', 'away_player_10', 'away_player_11'], axis=1)
match.shape

(25979, 40)

In [23]:
def change_date_type(row):
    date = row.date.split('/')
    if (date[0] != "10" and date[0] != "11" and date[0] != '12'):
        date[0] = '0' + date[0]
    date = [date[2][:2], date[0], date[1]]
    return '/'.join(date)
match['date'] = match.apply(change_date_type, axis=1)
match.head(15)

,country_id,league_id,season,stage,date,match_id,home_team_id,away_team_id,home_team_goal,away_team_goal,...,SJA,VCH,VCD,VCA,GBH,GBD,GBA,BSH,BSD,BSA
0,1,1,2008/2009,1,08/08/17,492473,9987,9993,1,1,...,4.00,1.65,3.40,4.50,1.78,3.25,4.00,1.73,3.40,4.20
1,1,1,2008/2009,1,08/08/16,492474,10000,9994,0,0,...,3.80,2.00,3.25,3.25,1.85,3.25,3.75,1.91,3.25,3.60
2,1,1,2008/2009,1,08/08/16,492475,9984,8635,0,3,...,2.50,2.35,3.25,2.65,2.50,3.20,2.50,2.30,3.20,2.75
3,1,1,2008/2009,1,08/08/17,492476,9991,9998,5,0,...,7.50,1.45,3.75,6.50,1.50,3.75,5.50,1.44,3.75,6.50
4,1,1,2008/2009,1,08/08/16,492477,7947,9985,1,3,...,1.73,4.50,3.40,1.65,4.50,3.50,1.65,4.75,3.30,1.67
5,1,1,2008/2009,1,08/09/24,492478,8203,8342,1,1,...,1.67,4.35,3.40,1.70,4.50,3.40,1.70,NaN,NaN,NaN
6,1,1,2008/2009,1,08/08/16,492479,9999,8571,2,2,...,3.60,2.10,3.25,3.00,1.85,3.25,3.75,2.10,3.25,3.10
7,1,1,2008/2009,1,08/08/16,492480,4049,9996,1,2,...,2.40,2.80,3.25,2.25,2.80,3.20,2.25,2.88,3.25,2.20
8,1,1,2008/2009,1,08/08/16,492481,10001,9986,1,0,...,3.10,2.25,3.25,2.80,2.20,3.30,2.80,2.25,3.20,2.80
9,1,1,2008/2009,10,08/11/1,492564,8342,8571,4,1,...,10.00,1.30,4.35,8.50,1.25,5.00,10.00,1.29,4.50,9.00
10,1,1,2008/2009,10,08/10/31,492565,9985,9986,1,2,...,10.00,1.28,4.50,8.50,1.25,5.00,10.00,1.25,5.00,9.00
11,1,1,2008/2009,10,08/11/2,492566,10000,9991,0,2,...,2.50,2.65,3.30,2.30,2.60,3.25,2.50,2.62,3.20,2.38
12,1,1,2008/2009,10,08/11/1,492567,9994,9998,0,0,...,4.25,2.00,3.20,3.40,1.85,3.30,4.00,1.83,3.30,3.80
13,1,1,2008/2009,10,08/11/1,492568,7947,10001,2,2,...,2.38,2.75,3.20,2.30,2.75,3.25,2.35,2.75,3.20,2.30
14,1,1,2008/2009,10,08/11/1,492569,8203,9999,1,2,...,4.75,1.70,3.40,4.35,1.75,3.40,4.25,1.70,3.40,4.33

In [24]:
leagues = match.league_id.unique()
seasons = match.season.unique()
print(leagues)
print(seasons)

[    1  1729  4769  7809 10257 13274 15722 17642 19694 21518 24558]
['2008/2009' '2009/2010' '2010/2011' '2011/2012' '2012/2013' '2013/2014'
 '2014/2015' '2015/2016']

In [25]:
def select_competition(matches, league, season):
    return matches.loc[(matches['league_id'] == league) & (matches['season'] == season)]

In [26]:
a_competition = select_competition(match, 1, '2008/2009')

In [27]:
def calculate_net_goal(a_competition):
    net_score_dict = {}
    teams = set(a_competition.home_team_id.unique().tolist() + a_competition.away_team_id.unique().tolist())
    for team in teams:
        net_score_dict[team] = 0
    
    home_net_score = []
    away_net_score = []
    a_competition = a_competition.sort_values(by=['date'], axis=0)
    for i in range(a_competition.shape[0]):
        home_net_score.append(net_score_dict[a_competition.home_team_id.iloc[i]])
        away_net_score.append(net_score_dict[a_competition.away_team_id.iloc[i]])
        net_score_dict[a_competition.home_team_id.iloc[i]] += (a_competition.home_team_goal.iloc[i] - a_competition.away_team_goal.iloc[i])
        net_score_dict[a_competition.away_team_id.iloc[i]] += (a_competition.away_team_goal.iloc[i] - a_competition.home_team_goal.iloc[i])
    a_competition.insert(a_competition.shape[1], 'home_net_score', home_net_score)
    a_competition.insert(a_competition.shape[1], 'away_net_score', away_net_score)
    return a_competition

In [28]:
datas = []
for league in leagues:
    for season in seasons:
        competition = select_competition(match, league, season)
        competition = calculate_net_goal(competition)
        datas.append(competition)
match = pd.concat(datas, sort=False)
match.head(20)

,country_id,league_id,season,stage,date,match_id,home_team_id,away_team_id,home_team_goal,away_team_goal,...,VCD,VCA,GBH,GBD,GBA,BSH,BSD,BSA,home_net_score,away_net_score
1,1,1,2008/2009,1,08/08/16,492474,10000,9994,0,0,...,3.25,3.25,1.85,3.25,3.75,1.91,3.25,3.60,0,0
2,1,1,2008/2009,1,08/08/16,492475,9984,8635,0,3,...,3.25,2.65,2.50,3.20,2.50,2.30,3.20,2.75,0,0
4,1,1,2008/2009,1,08/08/16,492477,7947,9985,1,3,...,3.40,1.65,4.50,3.50,1.65,4.75,3.30,1.67,0,0
6,1,1,2008/2009,1,08/08/16,492479,9999,8571,2,2,...,3.25,3.00,1.85,3.25,3.75,2.10,3.25,3.10,0,0
7,1,1,2008/2009,1,08/08/16,492480,4049,9996,1,2,...,3.25,2.25,2.80,3.20,2.25,2.88,3.25,2.20,0,0
8,1,1,2008/2009,1,08/08/16,492481,10001,9986,1,0,...,3.25,2.80,2.20,3.30,2.80,2.25,3.20,2.80,0,0
0,1,1,2008/2009,1,08/08/17,492473,9987,9993,1,1,...,3.40,4.50,1.78,3.25,4.00,1.73,3.40,4.20,0,0
3,1,1,2008/2009,1,08/08/17,492476,9991,9998,5,0,...,3.75,6.50,1.50,3.75,5.50,1.44,3.75,6.50,0,0
103,1,1,2008/2009,2,08/08/23,492486,9986,9999,1,0,...,3.60,5.00,1.65,3.40,4.75,1.53,3.60,5.50,-1,0
104,1,1,2008/2009,2,08/08/23,492487,9994,4049,4,1,...,3.40,4.50,1.67,3.40,4.50,1.67,3.40,4.50,0,-1
105,1,1,2008/2009,2,08/08/23,492488,9996,8203,3,1,...,3.25,3.25,2.00,3.20,3.30,2.00,3.25,3.30,1,0
106,1,1,2008/2009,2,08/08/23,492489,8571,9984,2,1,...,3.20,2.25,2.70,3.20,2.30,2.62,3.20,2.38,0,-3
107,1,1,2008/2009,2,08/08/23,492490,9993,7947,1,1,...,3.50,5.00,1.60,3.50,5.00,1.53,3.60,5.50,0,-2
101,1,1,2008/2009,2,08/08/23,492484,9985,10001,3,0,...,4.00,8.00,1.40,3.80,7.50,1.33,4.33,7.50,2,1
100,1,1,2008/2009,2,08/08/23,492483,8635,9991,2,2,...,3.60,5.00,1.60,3.50,5.00,1.62,3.40,5.00,3,5
102,1,1,2008/2009,2,08/08/24,492485,9998,9987,3,1,...,3.25,2.10,3.00,3.20,2.15,3.10,3.20,2.10,-5,0
205,1,1,2008/2009,3,08/08/29,492498,4049,8342,1,4,...,4.00,1.50,5.25,3.60,1.55,6.00,3.60,1.50,-4,0
198,1,1,2008/2009,3,08/08/30,492491,8635,8571,4,0,...,5.00,10.00,1.25,5.00,9.00,1.25,5.00,9.00,3,1
199,1,1,2008/2009,3,08/08/30,492492,9987,9994,1,0,...,3.40,5.00,1.65,3.40,4.60,1.67,3.40,4.50,-2,3
200,1,1,2008/2009,3,08/08/30,492493,9984,9998,2,1,...,3.40,4.50,1.60,3.40,5.00,1.70,3.40,4.33,-4,-3

In [30]:
match.isna().sum()

country_id            0
league_id             0
season                0
stage                 0
date                  0
match_id              0
home_team_id          0
away_team_id          0
home_team_goal        0
away_team_goal        0
B365H              3387
B365D              3387
B365A              3387
BWH                3404
BWD                3404
BWA                3404
IWH                3459
IWD                3459
IWA                3459
LBH                3423
LBD                3423
LBA                3423
PSH               14811
PSD               14811
PSA               14811
WHH                3408
WHD                3408
WHA                3408
SJH                8882
SJD                8882
SJA                8882
VCH                3411
VCD                3411
VCA                3411
GBH               11817
GBD               11817
GBA               11817
BSH               11818
BSD               11818
BSA               11818
home_net_score        0
away_net_score        0
dtype: int64

In [31]:
match.to_csv("match_clean1.csv")

In [32]:
match = match.fillna(0)
match.isna().sum()

country_id        0
league_id         0
season            0
stage             0
date              0
match_id          0
home_team_id      0
away_team_id      0
home_team_goal    0
away_team_goal    0
B365H             0
B365D             0
B365A             0
BWH               0
BWD               0
BWA               0
IWH               0
IWD               0
IWA               0
LBH               0
LBD               0
LBA               0
PSH               0
PSD               0
PSA               0
WHH               0
WHD               0
WHA               0
SJH               0
SJD               0
SJA               0
VCH               0
VCD               0
VCA               0
GBH               0
GBD               0
GBA               0
BSH               0
BSD               0
BSA               0
home_net_score    0
away_net_score    0
dtype: int64

In [33]:
def find_average_bet_H(match):
    numb_available = 0
    total = 0
    l = ['B365H', 'BWH', 'IWH', 'LBH', 'PSH', 'WHH', 'SJH', 'GBH', 'BSH', 'VCH']
    for col in l:
        if match[col] != 0:
            numb_available += 1
            total += match[col]
    if numb_available == 0:
        return 0
    return total/numb_available
def find_average_bet_D(match):
    numb_available = 0
    total = 0
    l = ['B365D', 'BWD', 'IWD', 'LBD', 'PSD', 'WHD', 'SJD', 'GBD', 'BSD','VCD']
    for col in l:
        if match[col] != 0:
            numb_available += 1
            total += match[col]
    if numb_available == 0:
        return 0
    return total/numb_available
def find_average_bet_A(match):
    numb_available = 0
    total = 0
    l = ['B365A', 'BWA', 'IWA', 'LBA', 'PSA', 'WHA', 'SJA', 'GBA', 'BSA', 'VCA']
    for col in l:
        if match[col] != 0:
            numb_available += 1
            total += match[col]
    if numb_available == 0:
        return 0
    return total/numb_available

In [34]:
match['avg_h_bet'] = match.apply(find_average_bet_H, axis=1)
match['avg_d_bet'] = match.apply(find_average_bet_D, axis=1)
match['avg_a_bet'] = match.apply(find_average_bet_A, axis=1)

In [35]:
match.head(25)

,country_id,league_id,season,stage,date,match_id,home_team_id,away_team_id,home_team_goal,away_team_goal,...,GBD,GBA,BSH,BSD,BSA,home_net_score,away_net_score,avg_h_bet,avg_d_bet,avg_a_bet
1,1,1,2008/2009,1,08/08/16,492474,10000,9994,0,0,...,3.25,3.75,1.91,3.25,3.60,0,0,1.898889,3.250000,3.616667
2,1,1,2008/2009,1,08/08/16,492475,9984,8635,0,3,...,3.20,2.50,2.30,3.20,2.75,0,0,2.462222,3.233333,2.544444
4,1,1,2008/2009,1,08/08/16,492477,7947,9985,1,3,...,3.50,1.65,4.75,3.30,1.67,0,0,4.494444,3.422222,1.674444
6,1,1,2008/2009,1,08/08/16,492479,9999,8571,2,2,...,3.25,3.75,2.10,3.25,3.10,0,0,1.957778,3.266667,3.400000
7,1,1,2008/2009,1,08/08/16,492480,4049,9996,1,2,...,3.20,2.25,2.88,3.25,2.20,0,0,2.714444,3.272222,2.316667
8,1,1,2008/2009,1,08/08/16,492481,10001,9986,1,0,...,3.30,2.80,2.25,3.20,2.80,0,0,2.222222,3.233333,2.842222
0,1,1,2008/2009,1,08/08/17,492473,9987,9993,1,1,...,3.25,4.00,1.73,3.40,4.20,0,0,1.765556,3.322222,4.164444
3,1,1,2008/2009,1,08/08/17,492476,9991,9998,5,0,...,3.75,5.50,1.44,3.75,6.50,0,0,1.438889,3.805556,6.533333
103,1,1,2008/2009,2,08/08/23,492486,9986,9999,1,0,...,3.40,4.75,1.53,3.60,5.50,-1,0,1.587778,3.483333,5.211111
104,1,1,2008/2009,2,08/08/23,492487,9994,4049,4,1,...,3.40,4.50,1.67,3.40,4.50,0,-1,1.640000,3.438889,4.753333
105,1,1,2008/2009,2,08/08/23,492488,9996,8203,3,1,...,3.20,3.30,2.00,3.25,3.30,1,0,2.006667,3.266667,3.266667
106,1,1,2008/2009,2,08/08/23,492489,8571,9984,2,1,...,3.20,2.30,2.62,3.20,2.38,0,-3,2.718889,3.222222,2.301111
107,1,1,2008/2009,2,08/08/23,492490,9993,7947,1,1,...,3.50,5.00,1.53,3.60,5.50,0,-2,1.546667,3.588889,5.333333
101,1,1,2008/2009,2,08/08/23,492484,9985,10001,3,0,...,3.80,7.50,1.33,4.33,7.50,2,1,1.347778,4.120000,7.944444
100,1,1,2008/2009,2,08/08/23,492483,8635,9991,2,2,...,3.50,5.00,1.62,3.40,5.00,3,5,1.591111,3.494444,5.088889
102,1,1,2008/2009,2,08/08/24,492485,9998,9987,3,1,...,3.20,2.15,3.10,3.20,2.10,-5,0,3.022222,3.244444,2.122222
205,1,1,2008/2009,3,08/08/29,492498,4049,8342,1,4,...,3.60,1.55,6.00,3.60,1.50,-4,0,5.622222,3.711111,1.520000
198,1,1,2008/2009,3,08/08/30,492491,8635,8571,4,0,...,5.00,9.00,1.25,5.00,9.00,3,1,1.251111,4.861111,9.333333
199,1,1,2008/2009,3,08/08/30,492492,9987,9994,1,0,...,3.40,4.60,1.67,3.40,4.50,-2,3,1.664444,3.383333,4.644444
200,1,1,2008/2009,3,08/08/30,492493,9984,9998,2,1,...,3.40,5.00,1.70,3.40,4.33,-4,-3,1.648889,3.383333,4.720000
202,1,1,2008/2009,3,08/08/30,492495,7947,9996,1,2,...,3.20,2.60,2.50,3.20,2.50,-2,3,2.450000,3.227778,2.531111
203,1,1,2008/2009,3,08/08/30,492496,8203,10000,0,2,...,3.20,3.00,2.10,3.30,3.00,-2,0,2.105556,3.216667,3.066667
206,1,1,2008/2009,3,08/08/30,492499,10001,9993,1,0,...,3.20,2.75,2.38,3.20,2.62,-2,0,2.284444,3.188889,2.774444
201,1,1,2008/2009,3,08/08/31,492494,9991,9986,2,0,...,3.40,4.30,1.62,3.40,5.00,5,0,1.658889,3.433333,4.577778
204,1,1,2008/2009,3,08/08/31,492497,9999,9985,1,1,...,3.50,1.65,5.50,3.60,1.53,-1,5,4.955556,3.533333,1.597778

In [36]:
match = match.drop(['B365H', 'BWH', 'IWH', 'LBH', 'PSH', 'WHH', 'SJH', 'GBH', 'BSH','VCH', 'B365D', 'BWD', 'IWD', 'LBD', 'PSD', 'WHD', 'SJD', 'GBD', 'BSD', 'VCD','B365A', 'BWA', 'IWA', 'LBA', 'PSA', 'WHA', 'SJA', 'GBA', 'BSA', 'VCA'], axis=1)

In [37]:
match.head(35)

,country_id,league_id,season,stage,date,match_id,home_team_id,away_team_id,home_team_goal,away_team_goal,home_net_score,away_net_score,avg_h_bet,avg_d_bet,avg_a_bet
1,1,1,2008/2009,1,08/08/16,492474,10000,9994,0,0,0,0,1.898889,3.250000,3.616667
2,1,1,2008/2009,1,08/08/16,492475,9984,8635,0,3,0,0,2.462222,3.233333,2.544444
4,1,1,2008/2009,1,08/08/16,492477,7947,9985,1,3,0,0,4.494444,3.422222,1.674444
6,1,1,2008/2009,1,08/08/16,492479,9999,8571,2,2,0,0,1.957778,3.266667,3.400000
7,1,1,2008/2009,1,08/08/16,492480,4049,9996,1,2,0,0,2.714444,3.272222,2.316667
8,1,1,2008/2009,1,08/08/16,492481,10001,9986,1,0,0,0,2.222222,3.233333,2.842222
0,1,1,2008/2009,1,08/08/17,492473,9987,9993,1,1,0,0,1.765556,3.322222,4.164444
3,1,1,2008/2009,1,08/08/17,492476,9991,9998,5,0,0,0,1.438889,3.805556,6.533333
103,1,1,2008/2009,2,08/08/23,492486,9986,9999,1,0,-1,0,1.587778,3.483333,5.211111
104,1,1,2008/2009,2,08/08/23,492487,9994,4049,4,1,0,-1,1.640000,3.438889,4.753333
105,1,1,2008/2009,2,08/08/23,492488,9996,8203,3,1,1,0,2.006667,3.266667,3.266667
106,1,1,2008/2009,2,08/08/23,492489,8571,9984,2,1,0,-3,2.718889,3.222222,2.301111
107,1,1,2008/2009,2,08/08/23,492490,9993,7947,1,1,0,-2,1.546667,3.588889,5.333333
101,1,1,2008/2009,2,08/08/23,492484,9985,10001,3,0,2,1,1.347778,4.120000,7.944444
100,1,1,2008/2009,2,08/08/23,492483,8635,9991,2,2,3,5,1.591111,3.494444,5.088889
102,1,1,2008/2009,2,08/08/24,492485,9998,9987,3,1,-5,0,3.022222,3.244444,2.122222
205,1,1,2008/2009,3,08/08/29,492498,4049,8342,1,4,-4,0,5.622222,3.711111,1.520000
198,1,1,2008/2009,3,08/08/30,492491,8635,8571,4,0,3,1,1.251111,4.861111,9.333333
199,1,1,2008/2009,3,08/08/30,492492,9987,9994,1,0,-2,3,1.664444,3.383333,4.644444
200,1,1,2008/2009,3,08/08/30,492493,9984,9998,2,1,-4,-3,1.648889,3.383333,4.720000
202,1,1,2008/2009,3,08/08/30,492495,7947,9996,1,2,-2,3,2.450000,3.227778,2.531111
203,1,1,2008/2009,3,08/08/30,492496,8203,10000,0,2,-2,0,2.105556,3.216667,3.066667
206,1,1,2008/2009,3,08/08/30,492499,10001,9993,1,0,-2,0,2.284444,3.188889,2.774444
201,1,1,2008/2009,3,08/08/31,492494,9991,9986,2,0,5,0,1.658889,3.433333,4.577778
204,1,1,2008/2009,3,08/08/31,492497,9999,9985,1,1,-1,5,4.955556,3.533333,1.597778
260,1,1,2008/2009,4,08/09/13,492511,9993,9999,3,0,-1,-1,1.564444,3.505556,5.416667
258,1,1,2008/2009,4,08/09/13,492508,8203,4049,0,0,-4,-7,1.541111,3.511111,5.600000
257,1,1,2008/2009,4,08/09/13,492506,9994,10001,1,1,2,-1,2.177778,3.172222,2.970000
253,1,1,2008/2009,4,08/09/13,492501,9985,8571,2,0,5,-3,1.194444,5.477778,10.833333
259,1,1,2008/2009,4,08/09/13,492509,9996,9991,4,2,4,7,2.678889,3.183333,2.350000
252,1,1,2008/2009,4,08/09/13,492500,8342,7947,1,1,3,-3,1.218889,5.033333,10.888889
254,1,1,2008/2009,4,08/09/13,492502,9998,8635,1,2,-4,7,5.283333,3.505556,1.568889
255,1,1,2008/2009,4,08/09/14,492503,10000,9987,1,3,2,-1,2.817778,3.194444,2.267778
256,1,1,2008/2009,4,08/09/14,492504,9986,9984,3,2,-2,-3,2.388889,3.194444,2.636667
261,1,1,2008/2009,5,08/09/19,492517,8635,9986,2,0,8,-1,1.331111,4.308889,8.166667

In [39]:
match.to_csv("match_clean2.csv")